.search {
  
    margin-top: 3%;
    padding-top: 2.5%;
 
}

.searchBar {

    padding-left: 1%;

}

.threeBtn {

    margin-left: 3%;

}

.deleteComponent {

    margin-left: 3%;


}

.card-box {

    width: 110%;

}

.add-unit {

 margin: 1% 0 2% 1.25%;

}

.add-property {

    margin-left: 75%;

}